<h2>Static PDF File</h2>
<%= link_to 'Download', welcomes_download_pdf_url, "data-turbolinks" => false %>

<h2>Dynamic PDF File</h2>
<%= link_to "Download", download_welcome_path(current_user.resume), "data-turbolinks" => false %>